<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @stock.code %>
</p>

<p>
  <b>Name:</b>
  <%= @stock.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @stock.kind %>
</p>

<p>
  <b>Status:</b>
  <%= @stock.status %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
